[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.backgroundRed {
    background-color: #ffafaf;
}

.backgroundGreen {
    background-color: #c2ffcc;
}

.backgroundYellow {
    background-color: #ffffb3;
}

.fancy-radio-group .btn-fancy-radio img {
    display: none;
}

.fancy-radio-group .btn-fancy-radio .normal {
    display: block;
}

.fancy-radio-group .btn-fancy-radio.active .normal {
    display: none;
}

.fancy-radio-group .btn-fancy-radio.active .checked {
    display: block;
}
.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}